.bookstore-nav {
  top: 1rem;
  border-radius: 50px;
  background-color: rgb(250, 250, 250) !important;
  border: 2px solid white;
  width: 95%;
  box-shadow: 0px 1px 15px rgba(28, 28, 28, 0.322);
  position: fixed !important;
  z-index: 9999;
}

.bookstore-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.bookstore-link {
  color: rgb(10, 37, 63) !important;
  font-weight: 600;
  font-variant: small-caps;
}
.bookstore-brand {
  color: rgb(10, 37, 63) !important;
  text-shadow: 0px 0px 1px rgb(112, 112, 112);
  font-weight: 600;
  letter-spacing: -0.04rem;
}
input.bookstore-search {
  border-radius: 50px !important;
}
.bookstore-submit-search {
  border-radius: 50px !important;
  transform: translate(-120%, 2%);
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.6rem !important;
  background-color: rgb(250, 250, 250) !important;
  transition: 800ms !important;
  border: 1px solid rgb(10, 37, 63) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
input.bookstore-search:focus {
  box-shadow: 0px 0px 15px 0px rgba(28, 28, 28, 0.322) !important;
}

input.bookstore-search:hover ~ .bookstore-submit-search,
.bookstore-submit-search:hover {
  background-color: rgb(10, 37, 63) !important;
  transition: 800ms;
  color: rgb(250, 250, 250) !important;
  transform: scale(1.2) translate(-100%, 2%);
}

.comment-area {
  background: rgb(250, 250, 250, 0.4) !important;
  box-shadow: 0px 0px 10px 0px rgba(28, 28, 28, 0.322);
  position: fixed;
  width: 2%;
  height: auto;
  top: 0;
  bottom: 0;
  right: 0%;
  padding-left: 20px;
  transition: all 500ms;
  backdrop-filter: blur(5px);
  display: flex;
}
.comment-area-title {
  align-self: center;
  padding: 0.4rem 0.7rem;
  border-radius: 30px;
  transform: translateX(-7rem);
  background-color: saddlebrown;
  color: rgb(250, 250, 250);
  position: absolute;
}
.open {
  transition: all 500ms;
  width: 38%;
  /* transform: translateX(77%); */
}

.bookstore-submit-search svg {
  stroke-width: 3;
  color: rgb(10, 37, 63);
}
input.bookstore-search:hover ~ .bookstore-submit-search svg,
.bookstore-submit-search:hover svg {
  color: rgb(250, 250, 250);
}
.bookstore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.book-card {
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 5px 30px 0 rgba(28, 28, 28, 0.1);
  height: 18rem;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 400ms;
}
.book-card:hover,
.book-card:focus {
  box-shadow: 0px 7px 40px 0 rgba(28, 28, 28, 0.322);
}
.book-card-image {
  padding: 1rem 1rem;
  overflow: hidden;
  height: 80%;
}
.book-card:hover .book-card-image img {
  filter: grayscale(0%);
}
.book-card-image img {
  background-size: cover;
  filter: grayscale(60%);
  transition: all 500ms;
}
.comment-container-inner {
  display: flex;
  width: 100%;
  padding: 5rem;
  background-color: rgba(28, 28, 28, 0.322);
}
.welcome-jumbo {
  height: 40vh;
  display: flex;
  justify-content: center;
}
.inner-jumbo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.book-card {
  min-width: 12rem;
  max-width: 18rem;
  margin-bottom: 2rem;
}
.book-cover {
  height: 15rem;
  overflow: hidden;
}
.book-cover > img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.book-title {
  height: 6rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.book-price {
  color: rgb(187, 55, 14);
  font-weight: 600;
  font-size: 1rem;
}
.card-deck {
  justify-content: center;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(214, 214, 214);
  padding: 15px 0rem;
  box-shadow: 0px -5px 15px rgba(87, 87, 87, 0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
